.paket/paket.exe
.vs/*
*/bin/Debug/*
*/bin/Release/*
Phonebook.Webservice/bin/*
*/obj/*
packages/*
*.csproj.user
*.DotSettings
output/*
.fake/

Phonebook.Webservice.Service/bin/logs/*
_NCrunch_*
*.ncrunchsolution.user
*.ncrunchsolution
*.ncrunchproject
*/bin/feedback/*
/Phonebook.Webservice.Service/packages/*
