redirects on
source https://api.nuget.org/v3/index.json
source https://www.nuget.org/api/v2

nuget FAKE
nuget Microsoft.AspNet.WebApi.OwinSelfHost
nuget Microsoft.AspNet.Identity.EntityFramework
nuget Microsoft.AspNet.Identity.Owin
nuget Microsoft.AspNet.WebApi
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core
nuget Microsoft.AspNet.WebApi.WebHost
nuget Microsoft.AspNet.WebApi.Owin
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Web.Infrastructure 
nuget Autofac
nuget Autofac.WebApi2
nuget EntityFramework
nuget Autofac.Extras.Moq 
nuget Dapper
nuget MySqlConnector
nuget Newtonsoft.Json
nuget Topshelf
nuget Serilog
nuget Serilog.Sinks.RollingFileAlternate
nuget Autofac.Owin
nuget DogStatsD-CSharp-Client